$color-fondo:
radial-gradient(circle, rgba(238,174,202,1) 6%, rgba(148,233,222,0.7287289915966386) 98%),
radial-gradient(circle, rgba(1, 255, 221, 0.729) 6%, rgba(5, 138, 120, 0.729)98%);

$colores:
 white;

$position:
auto;

$borde:
5px,
outset,
rgba(0, 128, 0, 0.171);

$letra_tam:
1.0rem,
1.15rem,
1.25rem,
1.85rem,
2.0rem;

$pixeles:
5px,
15px,
190px,
335px;

$letra_dise:
'Playfair Display',
 serif;





